
<div class="container">

    <section class="top">
      <div class="col-md-12 col-md-offset-3 ">
        <div class="row">
          <br>
          <div class="col-md-6">
            <h1 class="text-center">CleanUp City</h1><br>
            <p>
              <strong>About Us</strong><br> 
               Cleanup City is a simple application that helps residents to identify public safety, environmental issues and upload pictures and report them for resolution.<br/>

               <p>A picture tells thousand words and Cleanup City is a collaborative platform that gives an opportunity for residents, neighborhood groups and associations to focus on cleaning, greening and organize events for city clean up.</p>
            </p><br/>
            <p>
              <strong>Mission</strong><br> 
              Cleanup City’s mission is to improve quality of life for residents by investing on communities.<br/>
            </p><br/>
             <p>
              <strong>Objectives</strong><br> 
                  <li>To encourage residents take ownership of their communities.</li>
                  <li>To provide opportunities and organize events  for community improvement activities.</li>
                  <li>To promote leadership for greening, maintenance and environmentally supportive efforts.</li>
                  <li>To report issues and resolution in a timely manner.</li>
            </p>
            <hr class="featurette-divider"/>
            <h3 class="text-center"><strong>Technologies</strong></h3><br>
            <p class="text-center">
              Ruby, Rails, Javascript, Bootstrap(Front-end framework), jQuery, HTML5, CSS3, AWS S3 (for cloud storage) and paperclip.
            </p>
          

            
          



            