
<div class="container">

    <section class="top">
      <div class="col-md-12 col-md-offset-3 ">
        <div class="row">
          <br>
          <div class="col-md-6">
            <h1 class="text-center">CleanUpCity</h1><br>
            <p>
              <strong>About Us</strong><br> 
               Cleanup City is a simple application that helps residents to identify public safety, environmental issues and upload pictures and report them for resolution.
            </p>

            