
<div class="container">
  <div class="row">

    <section class="top">
      <div class="col-md-12 col-md-offset-3 ">
        <div class="row">
          <br>
          <div class="col-md-6">
            <h1 class="text-center">CleanUp City</h1><br>
            <p>
              <strong>About Us</strong><br> 
               Cleanup City is a simple application that helps residents to identify public safety, environmental issues and upload pictures and report them for resolution.<br/>

               <p>A picture tells thousand words and Cleanup City is a collaborative platform that gives an opportunity for residents, neighborhood groups and associations to focus on cleaning, greening and organize events for city clean up.</p>
            </p><br/>
            <p>
              <strong>Mission</strong><br> 
              Cleanup City’s mission is to improve quality of life for residents by investing on communities.<br/>
            </p><br/>
             <p>
              <strong>Objectives</strong><br> 
                  <li>To encourage residents take ownership of their communities.</li>
                  <li>To provide opportunities and organize events  for community improvement activities.</li>
                  <li>To promote leadership for greening, maintenance and environmentally supportive efforts.</li>
                  <li>To report issues and resolution in a timely manner.</li>
            </p>
            <hr class="featurette-divider"/>
            <h3 class="text-center"><strong>Technologies</strong></h3><br>
            <p class="text-center">
              Ruby, Rails, Javascript, Bootstrap(Front-end framework), jQuery, HTML5, CSS3, AWS S3 (for cloud storage) and paperclip.
            </p>
            <hr class='featurette-divider'/>
          <br>

        <div class="row text-center">
          <h3>Author</h3>
 
            <br>
          <div class="span2">
            <img src="https://avatars2.githubusercontent.com/u/6865075?v=2&s=400"  alt="" class="img-rounded">
          </div>
          <div class="span4">
            <blockquote>
              <p>Sana Nasar</p>
              <small><cite title="Source Title">Junior Software Developer.<i class="icon-map-marker"></i></cite></small>
            </blockquote>
          </div>
              <p class="text-center">
                 <div class="span2">
                An energetic and imaginative young web developer who is never tired of trying new things. I love to code and believe programming is profoundly creative.</p>
      <!--     <div class="row col-md-offset-2 col-md-3"> -->
              <h6 class="text-center"><a href="https://github.com/SanaNasar">GitHub</a></h6>
            <h6 class="text-center"><a href="http://www.linkedin.com/in/sananasar">LinkedIn</a></h6>
            <h6 class="text-center"><a href="https://twitter.com/SanaNasar_">Twitter</a></h6>
          </div>
         </div>

        </div>
            
          </div>
</div>
          

            
          



            