<div class="jumbotron" id="topbackground">

<div class="container">
<div class="row">

<div class="col-xs-4 text-center">
<%= image_tag "cleancitylogo3.png", id: "jumboimg", class: "img-responsive"%>

</div>

<div class="col-xs-8"> 

<h2 id="tag">Working together to keep city clean</h2>
<p>Investing on communities... Investing on happiness</p>
</div>



</div>  <!-- row close -->


</div>  <!-- container close -->

</div>



 