 <!-- Dislay Google map here -->
<div class="container">
  <div class="row">
    <div id='map-canvas', style="width : 500px,
    height: 500px;" ></div><br/>
  <div>
    <label for="address"> Address:</label>
    <input type="text" id="address"/>
    <button id="locate">Locate</button>
  </div>
</div>
</div>