 <!-- Dislay Google map here -->
<div class="container">
  <div class="row">
    <div id='map-canvas', style= "width: 800px; height: 600px" ></div><br/>
  <div>
  <div class="row">
    <div class="text-center">
    <label for="address"> Address:</label>
    <input type="text" id="address"/>
    <button class="btn btn-md btn-primary" id="locate">Locate</button>
    </div>
  </div>
  
  </div>
</div>
</div>