<div class="container">

    <section class="top">
      <div class="col-md-12 col-md-offset-3 ">
        <div class="row">
          <br>
          <div class="col-md-6">
            <h1 class="text-center">Basic Terms</h1><br>
            <li>You must be 13 years and older to use this site.</li>
            <li>You are responsible for any activity that occurs under your screen name.</li>
            <li>You are responsible for keeping your password secure.</li>
            <li>You must not abuse, harass, threaten, invade the privacy of, or intimidate other CleanupCity members.</li>
            <li>Upload relevant stuff and you are responsible for the stuff you upload it.</li>
          </div>
        </div>
      </div>