body {
  padding-top: 20px;
/*  background-color: #F0F0E0;*/
}

#topbackground {
 /* background: url("http://unsplash.s3.amazonaws.com/batch%208/carmel.jpg") no-repeat center center;*/
 background: url("https://unsplash.imgix.net/42/U7Fc1sy5SCUDIu4tlJY3_NY_by_PhilippHenzler_philmotion.de.jpg?q=75&fm=jpg&auto=format&s=1c789cbcaffe5744bde12c0cc0e9647d");
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  max-width:100%;
  height:auto;
 }

#tag{
  color: #33536d;
  font-weight: bold;
  font-family: Open Sans,'Karla', sans-serif;

}
#jumboimg {
  width:40%;
}
#toprow{
  padding-top: 75px;
}

#tagbox{
  padding-top: 300px;
  padding-right: 50px;
}

#tagbox a{
  color:white;
}

.navbar-brand img {
height: 100%;
}

.navbar-nav {
  font-size: 13px;
}

.goal {
  text-align: center;
  color: #33536d;
  font-weight: bold;
  font-family: Comic Sans, Comic Sans MS, cursive;
}

.footer {
  text-align: right;
  font-size: 18px;
}

.featurette-divider{
  margin: 0px;
  padding: 0px;
}

#tutorial {
  margin-top: 5em;
  margin-bottom: 5%;
}

#tut_desc {
  padding-top: 2.5em;
}

#finalContainer {
/*  background: #e6e6e6;*/
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

#learn-more{
  text-decoration: none;
  font-size: 14px;
/*  color:#91a8ba;*/
}

/*===== Vertical Timeline =====*/
#conference-timeline {
  position: relative;
  max-width: 920px;
  width: 100%;
  margin: 0 auto;
}
#conference-timeline:before,
#conference-timeline:after {
  position: absolute;
  left: 50%;
  display: table;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  background: #00b0bd;
  padding: 15px 23px;
  color: #fff;
  transform: translateX(-50%);
  max-width: 5%;
  width: 100%;
  text-align: center;
}
#conference-timeline:before {
  content: "REPORTED";
  top: 0;
}
#conference-timeline:after {
  content: "RESOLVED";
  bottom: 0;
}
#conference-timeline .conference-center-line {
  position: absolute;
  width: 3px;
  height: 100%;
  top: 0;
  left: 50%;
  margin-left: -2px;
  background: #00b0bd;
  z-index: -1;
}
#conference-timeline .conference-timeline-content {
  padding-top: 67px;
  padding-bottom: 67px;
}
.timeline-article {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin: 20px 0;
}
.timeline-article .content-left,
.timeline-article .content-right {
  position: relative;
  width: 38%;
  border: 1px solid #ddd;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,.03);
  padding: 27px 25px;
}
.timeline-article p {
  margin: 0 0 0 60px;
  padding: 0;
  font-weight: 400;
  color: #242424;
  font-size: 14px;
  line-height: 24px;
  position: relative;
}
.timeline-article p span.article-number {
  position: absolute;
  font-weight: 300;
  font-size: 44px;
  top: 10px;
  left: -60px;
  color: #00b0bd;
}
.timeline-article .content-left {
  float: left;
}
.timeline-article .content-right {
  float: right;
}
.timeline-article .content-left:before,
.timeline-article .content-right:before{
  position: absolute;
  top: 20px;
  font-size: 23px;
  font-family: "FontAwesome";
  color: #fff;
}
.timeline-article .content-left:before {
  content: "\f0da";
  right: -8px;
}
.timeline-article .content-right:before {
  content: "\f0d9";
  left: -8px;
}
.timeline-article .meta-date {
  position: absolute;
  top: 0;
  left: 50%;
  width: 62px;
  height: 62px;
  margin-left: -31px;
  color: #fff;
  border-radius: 100%;
  background: #00b0bd;
}
.timeline-article .meta-date .date,
.timeline-article .meta-date .month {
  display: block;
  text-align: center;
  font-weight: 900;
}
.timeline-article .meta-date .date {
  font-size: 30px;
  line-height: 40px;
}
.timeline-article .meta-date .month {
  font-size: 18px;
  line-height: 10px;
}
/*===== // Vertical Timeline =====*/

/*===== Resonsive Vertical Timeline =====*/
@media only screen and (max-width: 830px) {
  #conference-timeline:before,
  #conference-timeline:after {
    left: 0px;
    transform: none;
  }
  #conference-timeline .conference-center-line {
    margin-left: 0;
    left: 50px;
  }
  .timeline-article .meta-date {
    margin-left: 0;
    left: 20px;
  }
  .timeline-article .content-left,
  .timeline-article .content-right {
    width: auto;
    float: none;
    margin-left: 110px;
    padding: 10px 25px;
    min-height: 53px;
  }
  .timeline-article .content-left {
    margin-bottom: 20px;
  }
  .timeline-article .content-left:before {
    content: "\f0d9";
    right: auto;
    left: -8px;
  }
  .timeline-article .content-right:before {
    display: none;
  }
}
@media only screen and (max-width: 400px) {
  .timeline-article p {
    margin: 0;
  }
  .timeline-article p span.article-number {
    display: none;
  }
  
}
/*===== // Resonsive Vertical Timeline =====*/