<!-- index.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-6">

    <h1>Find all images here!!</h1>

  <%= link_to 'Upload', new_image_path, class: 'button' %><br/>
  <%= link_to 'Go Back', root_path, class: 'button' %>
</div>
</div>

