<!-- index.html.erb -->

<div class="container">
  <div class="row">
    <div class="col-xs-12">

    <h1>All reported images</h1>
    <hr>
     
<!--   <div > -->
    <% @images.each do |image| %>
    <div class="col-xs-18 col-sm-6 col-md-3">
      <div class="thumbnail">
    <%= image_tag image.trash.url(:square), class: "img-thumbnail"%>
    <div class="caption">
       <h4>Notes:</h4>
                <p><%= image.note %></p>
                <p><a href="#" class="btn btn-info btn-xs" role="button">LikeIt</a> <a href="#" class="btn btn-default btn-xs" role="button">Volunteer</a></p>
            </div>
          </div>
        </div>
    <% end %>


  </div><br>
  <%= link_to 'Go Back', root_path, class: 'btn btn-default' %>
  <%= link_to 'Upload', new_image_path, class: 'btn btn-default' %><br/>
    </div>
    
</div>
</div>

